<div class="row justify-content-center my-2">
  <div class="col-md-12">
    <form #filterForm="ngForm" class="d-flex">
      <!-- <h4 class="font-weight-bold text-center">Filtro por Fechas</h4> -->
      <mat-form-field appearance="fill" class="space-10">
        <mat-label class="block">Fecha de Inicio </mat-label>
        <input matInput maxlength="150" [(ngModel)]="filterData.init" #filterInit="ngModel" name="filterInit" required
          minlength="1" type="date" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="space-10">
        <mat-label class="block">Fecha de Fin </mat-label>
        <input matInput maxlength="150" [(ngModel)]="filterData.end" #filterEnd="ngModel" name="filterEnd" required
          minlength="1" type="date" />
      </mat-form-field>
      <button mat-flat-button color="primary" class="text-white h-50" (click)="filterForDate()"
        [disabled]="!filterForm.form.valid">
        <i class="mr-2 fas fa-save"></i>Filtrar por Fecha
      </button>
    </form>
  </div>
</div>