<h2 mat-dialog-title>Install Angular</h2>

<mat-dialog-content class="mat-typography">
  <div class="m-w-600">
    <h3>Develop across all platforms</h3>
    <h4>
      adfasd <b>{{ data.firstName }}</b>
    </h4>
    <p>
      Learn one way to build applications with Angular and reuse your code and
      abilities to build apps for any deployment target. For web, mobile web,
      native mobile and native desktop. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Illum aliquam sapiente natus in ipsam. Sed aliquam
      repudiandae dolorem, delectus corporis ullam omnis repellat recusandae,
      minima possimus eos ut, explicabo molestias perspiciatis totam blanditiis
      nesciunt quasi doloribus eveniet facere obcaecati vero iste labore
      debitis! Officia commodi ipsa necessitatibus illo. Quaerat fugit minus
      aspernatur atque nisi, fugiat quia in enim quidem, perferendis obcaecati,
      repudiandae tempora ipsa eveniet assumenda itaque ut? Cum unde, in ducimus
      rem quibusdam praesentium nemo minima sequi ipsam velit ea recusandae
      impedit ullam tempora odit ratione vitae nostrum porro, molestias non
      nulla maiores animi numquam? Beatae doloribus reprehenderit iste.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
