/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
#contenedor_carga {
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}
#carga {
  border: 15px solid #ccc;
  border-top-color: #f4266a;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  width: 100%;
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
.d-none {
  display: none;
}
.t-center {
  text-align: center;
}
.mgn-top_button {
  margin: 2%;
}
.nav-center {
  justify-content: center;
  margin: 0 auto;
}
.m-top-5px {
  margin-top: 5px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.vtn-emergente {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  margin: 0 auto 2% 15%;
  width: 36rem;
  max-height: 32rem;
  position: fixed;
  display: none;
  z-index: 1;
  padding: 0.5%;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0 0 0 100vw;
}
.vtn-emergente::-webkit-scrollbar {
  display: none;
}
.btn-cerrar {
  color: rgb(170, 57, 57);
  font-size: 1.5rem;
  margin-left: 95%;
  margin-right: 0%;
  padding: 0 5px;
  cursor: pointer;
}
.col-1 {
  display: inline;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}
.col-2 {
  display: inline;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}
.badge-active {
  border-radius: 5px;
  padding: 3% 8%;
  background-color: green;
  color: white;
}
.badge-inactive {
  border-radius: 5px;
  padding: 3% 8%;
  background-color: rgb(212, 47, 47);
  color: white;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
